/Makefile
/Makefile.in
/Makefile.gen
/.la
/.lo
/.deps
/.libs
/*.la
/*.lo
/*.pyc
/howto.cc
/howto.py
/test_all
/.unittests
/*.o
/mlse_generated.i
/mlse_lut_*v.cc
/mlse_lut_*v.h
/mlse_lut_*v.i
/mlse_randint_[bis].*
/stamp-*
/.sw?
